accelerate==0.22.0
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.3.0
backoff==2.2.1
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
blinker==1.7.0
boto3==1.34.15
botocore==1.34.15
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cohere==4.37
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.3
datasets==2.16.1
deeplake==3.8.14
deepspeed==0.3.16
Deprecated==1.2.14
dill==0.3.7
distro==1.9.0
docker-pycreds==0.4.0
docx2txt==0.8
exceptiongroup==1.2.0
fastavro==1.9.3
filelock==3.13.1
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.15.0
google-api-python-client==2.113.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
h11==0.14.0
html2text==2020.1.16
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.20.2
humbug==0.3.2
idna==3.6
importlib-metadata==6.11.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langchain==0.0.346
langchain-community==0.0.11
langchain-core==0.0.13
langsmith==0.0.79
llama-hub==0.0.72
llama-index==0.9.32
lxml==5.1.0
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.2
matplotlib==3.8.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
neural-compressor==2.2.1
ninja==1.11.1.1
nltk==3.8.1
numcodecs==0.12.1
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.2.2
onnx==1.14.1
openai==1.3.8
opencv-python-headless==4.9.0.80
packaging==23.2
pandas==2.0.3
pathos==0.3.1
pathtools==0.1.2
peft==0.5.0
pillow==10.2.0
pox==0.3.3
ppft==1.7.6.7
prettytable==3.9.0
protobuf==4.25.1
psutil==5.9.7
py-cpuinfo==9.0.0
pyaml==23.12.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
PyDrive==1.3.1
Pygments==2.17.2
PyJWT==2.8.0
pyparsing==3.1.1
pypdf==4.0.0
PyPDF2==3.0.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.32.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.7.0
rpds-py==0.17.1
rsa==4.9
s3transfer==0.10.0
safetensors==0.4.1
schema==0.7.5
scikit-learn==1.3.2
scipy==1.11.2
sentry-sdk==1.39.1
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.25
streamlit==1.30.0
sympy==1.12
tenacity==8.2.3
tensorboardX==1.8
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.1
transformers==4.32.0
trl==0.7.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.0.7
validators==0.22.0
wandb==0.15.8
watchdog==3.0.0
wcwidth==0.2.13
weaviate-client==3.26.1
wikipedia==1.4.0
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
